.catalog {
  display: grid;
  grid-template-columns: repeat(4, $width-card);
  gap: 48px;

  justify-content: center;
  align-content: center;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, $width-card);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, $width-card);
  }

  @media (max-width: 487px) {
    grid-template-columns: repeat(1, $width-card);
  }

  &__card {
    display: grid;
    justify-items: center;
    align-items: center;

    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
